body {
  background-color: rgb(244, 237, 237);
}

.bg_green,
.btn_green {
  background-color: rgb(15, 187, 15);
  color: #fff;
}

.d-block {
  display: block;
}

.bg_red {
  background-color: red;
  color: #000;
}
